@use '../../styles/abstracts' as *;

.navbar {
	height: 7rem;
	background-color: getColor(elements);
	color: getColor(text);

	.flex {
		display: flex;
		height: 100%;
		align-items: center;
		justify-content: space-between;
	}

	.heading {
		font-size: $heading-sm;
	}
}
