// Neutral

// !dark mode colors

$dark-blue: #2b3945; // elements
$very-dark-blue: #202c37; // background

// !light mode colors
$very-dark-blue-text: #111517; // text
$dark-gray: #858585; // input
$light-gray: #fafafa; //background
$white: #ffffff;
