@use '../abstracts' as *;

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

body {
	font-family: 'Nunito Sans', sans-serif;
	overflow-x: hidden;
}

// Add themeing
:root {
	@each $name, $color in $theme-light {
		--color-#{$name}: #{$color};
	}
}

body {
	background-color: getColor(bg);
}

body.dark {
	@each $name, $color in $theme-dark {
		--color-#{$name}: #{$color};
	}
}
